<?xml version="1.0"?>
<settings>
	<vSync>1</vSync>
	<videoContainer0>
		<center>960, 530.5</center>
		<width>480</width>
		<height>270</height>
		<frameNum>201</frameNum>
	</videoContainer0>
	<videoContainer1>
		<center>460.608, 99.8692</center>
		<width>480</width>
		<height>270</height>
		<frameNum>5479</frameNum>
	</videoContainer1>
	<videoContainer2>
		<center>1260.27, 370.532</center>
		<width>186.122</width>
		<height>115.714</height>
		<frameNum>5479</frameNum>
	</videoContainer2>
</settings>
